@import "styles/colors.scss";

.action-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.75rem;
  font-weight: bold;
  margin-right: 1rem;
  cursor: pointer;
  user-select: none;
}

.action-button__primary {
  color: $primary-color;
}

.action-button__danger {
  color: $warn-color;
}

.action-button__icon {
  margin-right: 0.25rem;
}
