@import "styles/colors.scss";

.icon-button {
  background-color: white;
  color: $primary-color;
  width: 2.5rem;
  padding: 0.25rem;
  border: none;
  box-shadow: 0 3px 5px $gray-shadow-color;
  margin: auto;
}
