@import "styles/colors.scss";

.form-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-element__label {
  color: $gray-text-color;
  margin-bottom: 0.1rem;
  font-size: 0.75rem;
}
