@import "styles/colors.scss";

.table {
  background-color: white;
  box-shadow: 0px 5px 5px $gray-shadow-color;
}

.table__header td {
  color: $gray-text-color;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
}

.table__body td {
  padding: 0.5rem 3rem 0.5rem 0.5rem;
}
