@import "./styles/typography.scss";
@import "./styles/colors.scss";

body {
  margin: 0;
  background-color: $gray-bg-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 70%;
  margin: auto;
}
